body{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('../bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


h1{
        text-align:center;
}
ul
{
    list-style-type: none;
}

.box {
	margin-top: 50px;
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}


.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
            display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
}
