<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Krusty Kookies AB</title>
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/mycss.css" rel="stylesheet">
   </head>
   <body ng-app="krustyapp" ng-controller="krustycontroller">
      <div class="container">
      <div class="box">
         <div ng-include='"header.html"'></div>
         <div class="row">
            <div class="col-lg-5">
               <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search FPOOOORRRR...">
                  <span class="input-group-btn">
                  <button class="btn btn-default" ng-click="clk()" type="button">Go!</button>
                  </span>
               </div>
            </div>
         </div>
      </div>
      </div>
      <ul class="list-group">
         <li class="list-group-item" ng-repeat="pallet in pallets">
            <div class="col-md-10">
               <b>Cookie:</b> {{pallet.cookie}}<br><b>Order id:</b> {{pallet.order_id}}<br><b>Quantity:</b> {{pallet.quantity}}
            </div>
            <div class="col-md-2">
               <button> Block</button>
            </div>
            <div class="clearfix"></div>
         </li>
         </p>  
      </ul>
      <div class="clearfix"></div>
      </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
      <script>
         var app = angular.module('krustyapp', []);
         
         function krustycontroller($scope, $http){
           $scope.clk = function(){
            $http.get('getPallets.php').then(function(res){
               $scope.pallets = res.data;
             });
           };
         };
      </script>
   </body>
</html>